body {
    font-family: Roboto;
}

.backgrounds {
    background-image: url(../backgrounds/background_milan.png);
    width: 1366px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.conteiner {
    
    width: 1023px;
    margin: 0 auto;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 51px;
    padding-bottom: 22px;
    
}

.head-title-image {
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
}

.head-title {
    float: right; 
    margin-left: 8px;
    justify-content: space-between;
    
    
}



.head-title-top {    
    font-weight: bold;
    font-size: 29px;
    color: #FFFFFF;
    
}

.head-title-bottom {
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    padding-top: 2px;
    
}



.wrapper:hover .head-image{
    content: url(../image/logo_2.png);
}
.wrapper:hover .head-title-top,
.wrapper:hover .head-title-bottom{ 
    color: #F26522;
}

.head-contact {

}

.head-contact-email {
    margin-bottom: 19px;
    font-size: 18px;
    color: #FFFFFF;
    transition: 0.5s ease-in-out;
}

.head-contact-number{
    text-align: right;
    font-size: 18px;
    color: #FFFFFF;
    transition: 0 ease-in-out;
}

.head-contact-email:hover,
.head-contact-number:hover {
    color: #F26522
}

.conteiner {
    width: 1023px;
    margin: 0 auto;
}

.tablet {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 61px;
}

.tablet-image {
    font-family: 'Roboto';
    position: relative;
    overflow: hidden;
}

.tablet-list {
    font-family: 'Roboto'
    font-size: 18px;
    color: #FFFFFF;
    text-align:center;
    padding-top: 20px;
}

.tablet-list:hover {
    color: #F26522;
}

.tablet-image:hover .tablet-hover{
    bottom: 0;
}

.tablet-hover {
    box-sizing: border-box;
    background-color:#F26522;
    padding: 7px 14px 13px 16px;
    text-align:left;
    position: absolute;
    left: 0;
    bottom: -150px;
    transition: 0.5s;
    width: 100%;
    margin-bottom: 41px;
    /* margin-top: 165px; */
    
    opacity: 1;
    pointer-events: none;   
}

.tablet-hover-text {
    font-family: 'Roboto';
    font-size: 10px;
    color: #FFFFFF;
    margin-top: 7px;
    margin-left: 16px;
    
}

.tablet-hover-title {
    font-family: 'Roboto';
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 8px;
    margin-left: 16px;
}

.tablet-hover-details {
    font-family: 'Roboto';
    font-size: 14px;
    color: #FFFFFF;
    float: right;
    margin-top: -12px;
    margin-right: 37px;
}

.tablet-hover-arrow::after,
.tablet-hover-arrow::before  {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-right: 2px solid #FFFFFF;
    border-top: 2px solid #FFFFFF;
    transform: translate(-50%, -50%);
    /* example 2
    top: calc (50% - 1px);
    left: calc (50% - 5px) */
    float: right;
    padding-right: 0;
}   

.tablet-hover-arrow::after {
    transform: rotate(45deg);
}

.tablet-hover-arrow::before {
    transform: rotate(45deg);
}




.main-footer {
    font-family: 'Roboto'
    font-size: 12px;
    color: #FFFFFF;
    padding: 49px;
    text-align: center;
}